
$white: #FFFFFF;
$night: #063D7A;
$asphalt: #1F2532;
$cadet: #465561;
$evening: #1E71CD;
$steam: #F5F7F9;
$font-stack:'Open Sans', sans-serif;




body {

  background-color: $steam;
  font: $font-stack;
}

/*nav*/
.desktop-nav {
  background-color: $white;
  margin-bottom: 2px;

}
#logo {
  width: 14rem;
  background-color: $night;
}
.desktop-nav > ul {
  padding: 1rem;
}

.nav-link {
  color: $evening;
}
.nav-icon {
  display: inline;
  text-decoration: none;
}
.nav-icon-group {
  text-align: right;
}
.nav-icon {
  font-size: 1.5rem;
  opacity: .5;
  padding-left: 1.5rem;

}
#phone-icon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/*header*/
.header {
  background-color: $white;
}

h1 {
  font-weight: 400;
  line-height: 40px;
  color: $asphalt;
  padding: 1rem 0 .5rem 0;

}
.header-divider {
  background-color: $evening;
  height: 2.5px;
  width: 12rem;
}
.subheader {
  padding: .5rem 0 1.5rem 0;
}

.subheader-text {
  color: $cadet;
  display: inline;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 25px;

}
#home-icon {
  display: inline;
  height: 1.3rem;
  margin-right: .5rem;
}

/*main content*/

h2 {
  color:$cadet;
  font-weight: 300;
  line-height: 37px;
  padding: 2rem 0 0 0;
}
.card {
  box-shadow: 0 2px 4px 0 rgba(31, 37, 50, 0.2);
  margin: 1.5rem 0 0 0;

}
.card-result {
 flex-direction: row;
}
.card-content {
  color: $cadet;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.625;
  float: left;
  width: 30%;

}
.card-img {
  float: left;
  width: 40%;
}
.card-img img {
  padding: 2rem;
  width: 100%;
  /*display: inline-block;*/
}
.card-button {
   margin-left: 1rem;
}
.card-button-read-more {
  color: $cadet;
  font-weight: 600;
}

.card-button-join {
  font-weight: 600;
  padding-left: 3rem;

}

/*Aside*/
.aside-button {
  margin-left: 1rem;
}
.aside-button-background {
  background-color: $cadet;
  color: $white;
}

/*footer*/

footer {
  background-color: $white;
  margin-top: 2rem;
}
.footer-address {
  color: $cadet;
  margin-top: 1rem;
}
.footer-telephone {
  color: $evening;
}
.nav-footer-link {
  color: $cadet;
  display: block;
  text-decoration: underline;
}
.footer-heading {
  margin-top: 3rem;
}

.social-media-links a {
  color: $evening;
  font-size:2rem;
  padding-right: 1.5rem;


}
